body {
  margin: 1rem;
  background-color: #e5e7eb;

}

.heading {
  margin: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#check {
  margin: 20px 20px;
  cursor: pointer;
  padding: 1.2rem;
  outline: none;
  border-radius: 1rem;
  border: 2px solid orange;
  background-color: orange;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: 400ms ease-in-out;
}

#check:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  color: orange;
}

.outputText {
  margin: 20px 20px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.button {
  display: flex;
  flex-direction: row;
}

#clear {
  margin: 20px 20px;
  cursor: pointer;
  padding: 1.2rem;
  outline: none;
  border-radius: 1rem;
  border: 2px solid orange;
  background-color: white;
  color: orange;
  font-size: 1rem;
}

#clear:hover {
  font-weight: bold;
}